.copyright{
    color: var(--white);
    text-align: center;
    /* position: absolute;
    bottom: -50px; */
}

.linkedIn{
    position: absolute;
    left: 400px;
}

.linkedIn a:hover{
text-decoration: none;
}

.github{
    position: absolute;
    right: 400px;
}

.github a:hover{
    text-decoration: none;
}

@media screen and (max-width: 1110px){
    .github{
        position: absolute;
        right: 100px;
    }
    .linkedIn{
        position: absolute;
        left: 100px;
    }
}

@media screen and (max-width: 810px){
    .github{
        position: absolute;
        right: 50px;
    }
    .linkedIn{
        position: absolute;
        left: 50px;
    }
}