
:root{
    --orange: #F57F17;
    --dark-orange: #FF5823;
    --orange-shadow: rgba(245, 127, 23,0.2);
    --white: #bfbfbf;
    --white-e: #635e5e;
    --real-white: #fff;
    --backgd: #16161a;
    

 
    

}
